<div class="row ma--0">
    <div class="col-lg-6">
        <div class="product">
            <div class="product--image">
                <div class="icon-images">
                  <img src="http://stalkbuylove.com/media/catalog/product/cache/1/image/393x502/9df78eab33525d08d6e5fb8d27136e95/i/n/in1335avv-167-front.jpg"/>
                  <img src="http://stalkbuylove.com/media/catalog/product/cache/1/image/393x502/9df78eab33525d08d6e5fb8d27136e95/i/n/in1335avv-167-detail.jpg"/>
                  <img src="http://stalkbuylove.com/media/catalog/product/cache/1/image/393x502/9df78eab33525d08d6e5fb8d27136e95/i/n/in1335avv-167-back.jpg"/>
                </div>
                <img src="http://stalkbuylove.com/media/catalog/product/cache/1/image/393x502/9df78eab33525d08d6e5fb8d27136e95/i/n/in1335avv-167-back.jpg" class="display-img">
              </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row ma--0 product">
            <div class="product--title">
                <h2>{{letProductData.name}}</h2>
              </div>
        </div>
        <div class="row ma--0">
            <div class="product--details">
                <div class="product--price">
                    <span class="product--price_price">${{letProductData.price}}</span>
                    <span class="product--price_offer">new arrivel !</span>
                </div>
            </div>
        </div>
        <div class="row ma--0">
            <div class="product--details width-inherit">
                <div class="product--desc"><p>{{letProductData.features}}</p>
                </div>
            </div>
        </div>
        <div class="row ma--0">
            <div class="product--details">
                <div class="product--size">
                    <div class="row ma--0">
                        <div class="col-lg-4">
                            <span>Black</span>
                        </div>
                        <div class="col-lg-4">
                            <span class="active">Red</span>
                        </div>
                        <div class="col-lg-4">
                            <span>Green</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ma--0">
            <div class="product--details">
                <div class="col-lg-6">
                    <label for="productNumber">Quantity</label>
                </div>
                <div class="col-lg-6">
                    <div class="product--quantity" id='productNumber'>
                        <input class="quantity" type="number" placeholder="quantity" min="1" max="10" value="1"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ma--0">
            <div class="product--details">
                <div class="add-to-cart">
                    <button class="btn btn--cart">Shop it!</button>
                </div>
            </div>
        </div>
    </div>
</div>