<div class="row ma-0">
    <div class="col-12 text-left pa-0">
        <a [routerLink]="['/']"><span class="title curser-pointer back-link-product-details"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</span></a>
    </div>
</div>
<div class="row ma--0 mt-20">
    <div class="col-lg-6">
        <div class="product">
            <div class="product--image">
                <swiper #swiperWrapper [config]="config" (indexChange)="onIndexChange($event)" style="">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="images-height" [src]="letProductData?.image" alt="">
                        </div>
                        <div *ngFor='let image of letProductData?.tbl_product_images' class="swiper-slide" id=slider-image-{{image.id}}>
                            <img class="images-height" [src]="image.image" alt="">
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </swiper>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row ma--0 product">
            <div class="product--title">
                <span>{{letProductData?.name}}</span>
              </div>
        </div>
        <div class="row ma--0 mt-10">
            <star-rating value="{{letProductData?.ratings}}" totalstars="5" checkedcolor="gold" 
                uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event,letProductData)">
            </star-rating>
        </div>
        <div class="row ma--0 mt-20">
            <div class="product--details">
                <div class="product--price">
                    <span class="product--price_price">${{letProductData?.price}}</span>
                    <span class="product--price_offer">new arrivel !</span>
                </div>
            </div>
        </div>
        <div class="row ma--0">
            <div class="product--details width-inherit">
                <div class="product--desc"><p>{{letProductData?.features}}</p>
                </div>
            </div>
        </div>
        <div class="row ma--0">
            <div class="product--details">
                <div #colorWrapper class="product--size">
                    <span [ngClass]='' *ngFor='let colorTable of letProductData?.tbl_product_colors' (click)='changeIndexSlider(colorTable)'>
                        {{colorTable?.tbl_color.color}}
                    </span>
                    <!-- <span class="active">Black</span>
                    <span class="">Red</span>
                    <span class="">Green</span> -->
                </div>
            </div>
        </div>
        <div class="row ma--0">
            <div class="product--details">
                <div class="col-lg-6">
                    <label for="productNumber">Quantity</label>
                </div>
                <div class="col-lg-6">
                    <div class="product--quantity" id='productNumber'>
                        <input class="quantity" type="number" placeholder="quantity" min="1" max="10" value="1"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ma--0">
            <div class="product--details">
                <div class="add-to-cart">
                    <button class="btn btn--cart">Add to cart!</button>
                </div>
            </div>
        </div>
        <div class="row ma--0">
            <div class="product--details">
                <div class="add-to-cart">
                    <button class="btn btn--checkout">Check out!</button>
                </div>
            </div>
        </div>
        <div class="row ma--0 mt-10">
            <img (click)="signInWithGoogle()" ng-disabled="isDisabled" tooltip="Share on google" placement="bottom" delay="100" src="../../../assets/images/download (1).png" class="height-30 curser-pointer" alt="">
            <img (click)="signInWithFB()" ng-disabled="isDisabled" tooltip="Share on facebook" placement="bottom" delay="100" aria-hidden="true" src="../../../assets/images/fb-logo.png" class="height-30 curser-pointer" alt="">
            <img ng-disabled="isDisabled" tooltip="Share on twitter" placement="bottom" delay="100" aria-hidden="true" src="../../../assets/images/twitter-logo.png" class="height-30 curser-pointer" alt="">
        </div>
    </div>
</div>