@font-face {
  font-family: 'ostrich-sans';
  src: url(/assets/fonts/ostrich-sans/ostrich-regular.ttf) format("opentype");
}
@font-face {
  font-family: 'aller';
  src: url(/assets/fonts/Aller/Aller_BdIt.ttf) format("opentype");
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}

.invalid-feedback{
  color: #ec1328;
  width: 332px;
}

#vcontainer {
    display: table;
    height: 100%;
    width: 100%;
  }
  #hcontainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  #content {
    padding: 20px;
    display: inline-block;
    //border: lightGray 1px solid;
    background-color:#fffffffa;
    text-align: left;
  }

  .input-forms{
      width: inherit;
      border-radius: 5px;
      padding-left: 5px;
      font-family: sans-serif;
  }

  .submit-btn{
    background-color: #ffbe2b;
    color: #ffffff;
    border: 1px solid #ffbe2b;
    width: 180px;
    font-size: 18px;
    font-family: 'aller';
  }

  .ma-0{
      margin: 0;
  }

  .pa-0{
      padding: 0;
  }

  .mt-10{
      margin-top: 10px;
  }

  .mt-20{
      margin-top: 20px;
  }

  .mlr-auto{
    margin-left:auto;
    margin-right:auto;
  }

  .height-100{
      height: 100px;
  }

  .title{
    font-size: 25px;
    color: #212b36;
    font-family: 'aller';
    font-weight: 900;
  }

  .all-lebel{
    font-family: 'aller';
    color: #212b36;
  }