<nb-layout>
    <nb-layout-header fixed>
        
        <header class="header-fixed">
            <div class="header-limiter">
                <h1 style="padding:5px 0px;margin-top:10px" class="mt-10"><a href="#">
                    <img class="height-50" src="../../../assets/images/download.png"
                            alt="logo" /></a></h1>
                <nav>
                    <a [routerLink]="['/']" class="dropbtn">Home</a>
                    <div  class="dropdown">
                        <a href="#" class="selected dropbtn"><i class="fa fa-user-circle-o" aria-hidden="true"></i> My account</a>
                        <div class="dropdown-content">
                            <div class="arrow-up"></div>
                            <div class="row">
                                <div class="column">
                                    <a [routerLink]="['update-profile']" class="color-dropdown"> <i class="fa fa-user-circle fa-define-class" aria-hidden="true"></i> User Profile</a>
                                    <a [routerLink]="['addres-list']" class="color-dropdown"> <i class="fa fa-address-card fa-define-class" aria-hidden="true"></i> Address</a>
                                    <a href="#" class="color-dropdown"><i class="fa fa-address-card fa-define-class" aria-hidden="true"></i> Address modle</a>
                                    <a [routerLink]="['order-list']" class="color-dropdown"><i class="fa fa-shopping-cart fa-define-class" aria-hidden="true"></i> Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="dropbtn">My account</a>
                    <a href="#" class="dropbtn">About</a>
                    <a href="#" class="dropbtn">Faq</a>
                    <a href="#" class="dropbtn">Contact</a>
                </nav>
            </div>
        </header>
    </nb-layout-header>
    <nb-layout-column>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </nb-layout-column>

    <nb-layout-footer fixed>
    </nb-layout-footer>

</nb-layout>

<!-- <router-outlet></router-outlet> -->