<div class="table-responsive">
    <table class="table color-white">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">address</th>
          <th scope="col">is_default</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of letorderData | paginate: { itemsPerPage: 6, currentPage: p }">
          <th scope="row">{{order.id}}</th>
          <td>{{order.order_id}}</td>
          <td>{{order.tbl_product.name}}</td>
          <td *ngFor="let color of order.tbl_product.tbl_product_colors">
              {{color.color}}
          </td>
          <td>{{order.total_item}}</td>
          <td>{{order.createdAt}}</td>
        </tr>
      </tbody>
    </table>
  </div>