<div class="table-responsive">
    <table class="table color-white">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Order No</th>
          <th scope="col">Item Name</th>
          <th scope="col">Color</th>
          <th scope="col">Quantity</th>
          <th scope="col">Date</th>
          <th scope="col">Transction-id</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
      </tbody>
    </table>
  </div>