
<div id="vcontainer">
    <div id="hcontainer">
    <div id="content-registration no-background">
        <div class="row ma-0 mt-20"> 
            <div class="mlr-auto">
                <img src="../../../assets/images/angel-emoticon-isolated-on-white-background-vector-24197962.jpg" class="img-class" alt="">
            </div>
        </div>
        <div class="row ma-0 mt-20"> 
            <div class="mlr-auto">
                <span class="title color-white">Thank you for subscribing our news latter.</span>
            </div>
        </div>
        <div class="form-group row ma-0 mt-10">
        </div>
    </div>
    </div>
</div>