.nb-layout-header {
    background-color: #f7f9fc !important;
  }

  .nb-theme-dark nb-layout .layout {
    background-color: #f7f9fc;
  }

.nb-theme-dark nb-layout .layout .layout-container .content nb-layout-footer nav {
    background-color: #f7f9fc;
    }