
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div id="vcontainer">
          <div id="hcontainer">
            <div id="content">
                <div class="row ma-0"> 
                  <div class="mlr-auto">
                    <span class="title">Hello please fill up details to login</span>
                  </div>
                </div>
                <div class="row ma-0 mt-20">
                  <div class="mlr-auto">
                    <img class="height-100" src="../../../assets/images/download.png" alt="logo">
                  </div>
                </div>
                
                  
                  
                <div class="row ma-0 mt-10">
                    <div class="col-lg-12 pa-0">
                      <label class="all-lebel" for="mobileNoId">Mobile No:</label>
                    </div>
                    <div class="col-lg-12 pa-0">
                          <input class="input-forms form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" type="text" formControlName="mobileNo">
                          <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                              <div *ngIf="f.mobileNo.errors.required">Mobile no is required</div>
                              <span *ngIf="f.mobileNo.errors.mobileNumberError">Mobile no must be validate</span>
                          </div>
                          <!-- <div>
                            <span class="color-black">Note :<span class="color-red">Add number in format (+countrycode)number</span></span>
                          </div> -->
                      </div>
                </div>
                  <div class="row ma-0 mt-10">
                      <div class="col-lg-12 pa-0">
                        <label class="all-lebel" for="passwordId">Password:</label>
                      </div>
                      <div class="col-lg-12 pa-0">
                            <input class="input-forms form-control" [ngClass]="{ 'is-invalid': submitted && f.password11.errors }" type="password" formControlName="password11">
                            <div *ngIf="submitted && f.password11.errors" class="invalid-feedback">
                                <div *ngIf="f.password11.errors.required">Password is required</div>
                            </div>
                        </div>
                  </div>
                  
                    <div class="row ma-0 mt-20">
                      <div class="mlr-auto">
                        <button [disabled] = 'loading' class="btn btn-primary submit-btn" type="submit">Login</button>
                        <span *ngIf="loading" class="spinner"></span>
                      </div>
                    </div>
                    
                    <div class="row ma-0 mt-10">
                        <div class="mlr-auto">
                            <span>
                                <a [routerLink]="['register']">Not Registered?</a>
                            </span>
                        </div>
                    </div>

                    <div class="row ma-0 mt-10">
                      <div class="mlr-auto">
                          <span>
                              <a [routerLink]="['forgot-password']">Forgot password.</a>
                          </span>
                      </div>
                  </div>
            </div>
          </div>
        </div>
      </form>