<div class="row">
  
</div>
<div class="row my-4">
  <div class="col-lg-2 col-md-3">
    <ul class="sidebar">
      
      <li>
        <div class="dropdown">
          <!-- <span class="dropbtn">Categories</span> -->
          <a class="curser-pointer" (click)="allProducts()">All products</a>
          <div class="dropdown-content">
          </div>
        </div>
      </li>
      <li class="dropbtn">
        <div class="dropdown">
          <span class="dropbtn">Categories</span>
          <div class="dropdown-content">
            <a class="curser-pointer" (click)='categoryFilter(category.id)' *ngFor="let category of letCategoryData">{{category.name}}</a>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <span class="dropbtn">Color</span>
          <div class="dropdown-content">
            <a class="curser-pointer" (click)='colorFilter(color.id)' *ngFor="let color of letColorData" >{{color.color}}</a>
          </div>
        </div>
      </li>
      </ul>
  </div>
  <div class="col-lg-10 col-md-9">
    <!--Grid column-->
    <div class="row ma--0">
      <div class="col-lg-6 col-md-6">

        <span class="color-red font-size-20 float-right"><i class="fa fa-filter font-size-20" aria-hidden="true"></i>Sort By:</span>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="row ma--0">
          <div class="col-lg-6 col-md-6 text-align-center">
            <span>
              <a (click)="sortByFilter('asc')">$<i class="fa fa-arrow-up font-size-20 curser-pointer" aria-hidden="true"></i></a>
            </span>
          </div>
          <div class="col-lg-6 col-md-6">
            <span>$
              <a (click)="sortByFilter('desc')" class="curser-pointer">
                <i class="fa fa-arrow-down font-size-20" aria-hidden="true"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row ma--0">
      <div  *ngFor="let product of letProductData | paginate: { itemsPerPage: 4, currentPage: p, totalItems: letProductData.count }" class="col-lg-3 col-md-6 hoverable">
          <div (click)="showProductDetails(product)" class="card p-10 mt-5 curser-pointer">
  
              <!-- Card content -->
              <div class="card-body d-flex flex-row">
              </div>
            
              <!-- Card image -->
              <div class="view overlay pa-10">
                <img class="card-img-top rounded-0" src={{product.image}} alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            
              <!-- Card content -->
              <div class="card-body">
                  <span class="color">{{product.name}}</span>
                <div class="collapse-content">
                  <!-- <p class="card-text product-list-card-descr">
                    {{product.features.length > 100 ? product.features.slice(0, 100) : product.features}}
                    {{product.features.length > 100 ? '...' : ''}}
                  </p> -->
                  <span class="color-black">
                    MRP:
                  </span>
                  <span class="product-class-old-price">
                    $40
                  </span>
                  <p>
                    <span class="color-black">
                      Price:
                    </span>
                    <span class="product-card-price">
                      ${{product.price}}
                    </span>
                  </p>
                  <!-- <p *ngFor="let color of product.tbl_product_colors">
                    <span class="color-black">
                     Color:{{color.color}} 
                    </span>
                  </p> -->
                  <p>
                    <button class="btn btn-primary submit-btn"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                  </p>
                  <!-- Text -->
                  <!-- Button -->
            
                </div>
            
              </div>
            
          </div>
      </div >
    </div>
    <!--Grid column-->
    <div class="row ma--0 mt-10 float-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>


</div>