<div class="row my-4">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 hoverable">
        <div class="card p-10">

            <!-- Card content -->
            <div class="card-body d-flex flex-row">
            </div>
          
            <!-- Card image -->
            <div class="view overlay pa-10">
              <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          
            <!-- Card content -->
            <div class="card-body">
                <span class="color">Hlllooknlkn</span>
              <div class="collapse-content">
          
                <!-- Text -->
                <p class="card-text collapse color" id="collapseContent">Recently, we added several exotic new dishes to our restaurant menu. They come from countries such as Mexico, Argentina, and Spain. Come to us, have some delicious wine and enjoy our juicy meals from around the world.</p>
                <!-- Button -->
                <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed color" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
                <i class="fas fa-share-alt text-muted float-right p-1 my-1 color" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
                <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3 color" data-toggle="tooltip" data-placement="top" title="I like it"></i>
          
              </div>
          
            </div>
          
        </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6">
        <div class="card p-10">

            <!-- Card content -->
            <div class="card-body d-flex flex-row">
          
            </div>
          
            <!-- Card image -->
            <div class="view overlay pa-10">
              <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          
            <!-- Card content -->
            <div class="card-body">
                <span class="color">Hlllooknlkn</span>
              <div class="collapse-content">
          
                <!-- Text -->
                <p class="card-text collapse color" id="collapseContent">Recently, we added several exotic new dishes to our restaurant menu. They come from countries such as Mexico, Argentina, and Spain. Come to us, have some delicious wine and enjoy our juicy meals from around the world.</p>
                <!-- Button -->
                <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed color" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
                <i class="fas fa-share-alt text-muted float-right p-1 my-1 color" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
                <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3 color" data-toggle="tooltip" data-placement="top" title="I like it"></i>
          
              </div>
          
            </div>
          
        </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6">
        <div class="card p-10">

            <!-- Card content -->
            <div class="card-body d-flex flex-row">
          
              <!-- Avatar -->
              <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar"> -->
          
              <!-- Content -->
              <!-- <div>
          
                <h4 class="card-title font-weight-bold mb-2 color">New spicy meals</h4>
                <p class="card-text color"><i class="far fa-clock pr-2"></i>07/24/2018</p>
          
              </div> -->
          
            </div>
          
            <!-- Card image -->
            <div class="view overlay pa-10">
              <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          
            <!-- Card content -->
            <div class="card-body">
                <span class="color">Hlllooknlkn</span>
              <div class="collapse-content">
          
                <!-- Text -->
                <p class="card-text collapse color" id="collapseContent">Recently, we added several exotic new dishes to our restaurant menu. They come from countries such as Mexico, Argentina, and Spain. Come to us, have some delicious wine and enjoy our juicy meals from around the world.</p>
                <!-- Button -->
                <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed color" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
                <i class="fas fa-share-alt text-muted float-right p-1 my-1 color" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
                <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3 color" data-toggle="tooltip" data-placement="top" title="I like it"></i>
          
              </div>
          
            </div>
          
        </div>
    </div>
    <!--Grid column-->

</div>