@import "../../register/register.component.scss";

.mb-40{
    margin-bottom: 40px;
}

.submit-btn{
    width: inherit;
}

.title{
    color: #ffffff;
}

.color-white{
    color: #ffffff;
}

.cursor-pointer{
    cursor: pointer;
}