
	<div class="product">
		<img src="https://image.rakuten.co.jp/footmonkey/cabinet/newbalance/nb-wl555-sj-1.jpg">
		<h3>555 New Balance</h3>
		<p>$69.99</p>
		
		<table class="information">
			<tr>
				<td class="label">Style #:</td>
				<td>WL696CCA</td>
			</tr>
			<tr>
				<td class="label break">Color:</td>
				<td>Grey & mint</td>
			</tr>
			<tr>
				<td class="label">Subtotal:</td>
				<td>$69.99</td>
			</tr>
			<tr>
				<td class="label">Tax:</td>
				<td>$5.60</td>
			</tr>
			<tr>
				<td class="label break">Shipping:</td>
				<td>$5.00</td>
			</tr>
			<tr>
				<td class="label">Total</td>
				<td class="label">$80.59</td>
			</tr>
		</table>
	</div>
	