
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div id="vcontainer">
      <div id="hcontainer">
        <div id="content">
            <div class="row ma-0"> 
              <div class="mlr-auto">
                <span class="title">Reset password.</span>
              </div>
            </div>
            <!-- <div class="row ma-0 mt-10">
                <div class="mlr-auto">
                    <span class="title">Please enter registered mobile no.</span>
                  </div>
            </div> -->
            <div class="row ma-0 mt-20">
              <div class="mlr-auto">
                <img class="height-100" src="../../../assets/images/download.png" alt="logo">
              </div>
            </div>
            
            <div class="row ma-0 mt-10">
                <div class="col-lg-12 pa-0">
                  <label class="all-lebel" for="passwordId">Password:</label>
                </div>
                <div class="col-lg-12 pa-0">
                    <input class="input-forms form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" type="password" formControlName="newPassword">
                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required">Password is required</div>
                        <span *ngIf="f.newPassword.errors.passwordStrength">Password Should contain one Upper case character,one lower case character,one special charecter and length must be greater then 8 character</span>
                    </div>
                  </div>
            </div>
              
              <div class="row ma-0 mt-20">
                  <div class="mlr-auto">
                    <button [disabled] = 'loading' class="btn btn-primary submit-btn" type="submit">Submit</button>
                    <span *ngIf="loading" class="spinner"></span>
                  </div>
                </div>
                
                
        </div>
      </div>
    </div>
  </form>